{% extends "layouts/base.html" %}

{% block title %}{{ genre }} - Biblioteca Digital{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/genre.css') }}">
{% endblock %}

{% block content %}
<div class="subheader">
    <h3>
        <a href="{{ url_for('home') }}">BibliotecaVirtual.com</a> /
        <a href="{{ url_for('books_by_genre', genre_name=genre)}}"><span>{{genre}}</span></a> /
        <a href="{{ url_for('all_books')}}"><span class="greenfont">Todo</span></a>
    </h3>
</div>
<div id="main">
    <div class="nav_main">
        <h2>Top libros de {{ genre }}</h2>
        <ul>
        {% for book in top_books %}
            <li><a href="{{ url_for('book_details', book_id=book.id) }}">{{ loop.index }}. {{ book.title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <ul>
            {% for book in books.items %}
                <li>
                    <div class="producto">
                        <div class="imagen">
                            <a href="{{ url_for('book_details', book_id=book.id) }}">
                                <img src="{{ url_for('static', filename='images/books/portada_{}.jpg'.format(book.title|replace(' ', '_')|replace(':', '')|lower)) }}"
                                    alt="Portada de {{ book.title }}" class="nohover" />
                            </a>
                        </div>
                        <div class="info">
                            <h3>
                                <span class="ellipsis">
                                    <a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }}</a>
                                </span>
                            </h3>
                            <p>Autor: {{ book.author }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% if books.items %}
    <div class="pagination">
        {% if books.has_prev %}
        <a href="{{ url_for('books_by_genre', genre_name=genre, page=books.prev_num) }}" class="button">← Anterior</a>
        {% endif %}
    
        <span>Página {{ books.page }} de {{ books.pages }}</span>
    
        {% if books.has_next %}
        <a href="{{ url_for('books_by_genre', genre_name=genre, page=books.next_num) }}" class="button">Siguiente →</a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}