@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  font-weight: 200;
}

html {
  height: 100%;
  width: 100%;
  min-height: 100%;
  scrollbar-width: 10px;
}

body {
  background-color: #c2c1a5;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#header {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: #36453b;
}

#header h1 {
  font-style: italic;
}

#header h1 a {
  color: #f5f9e9;
}

.nav {
  margin: 20px;
  padding: 19px;
}

.inverted {
  filter: invert();
}

.smallScreen {
  display: none;
  height: 30px;
  width: 30px;
}

.nav li {
  display: inline;
  color: #36453b;
}

.nav ul li ul li {
  position: relative;
}

.nav ul li ul li ul {
  position: absolute;
  display: none;
}

.nav ul li ul li:hover > ul {
  display: inline-block;
  z-index: 4;
  background-color: #c2c1a5;
  height: fit-content;
  width: fit-content;
  top: 40px;
  left: 0;
}

.nav ul li ul li:hover > ul a {
  color: #36453b;
  display: block;
}

.nav ul li ul li ul a:hover {
  background-color: #f5f9e9;
}

.nav a {
  padding: 20px;
  color: #f5f9e9;
}

.nav a:hover {
  background-color: #c2c1a5;
  color: #36453b;
}

.subheader {
  font-size: 10px;
  text-align: center;
  padding: 25px;
  color: #f5f9e9;
}

.subheader a {
  text-decoration: none;
  color: #f5f9e9;
}

.greenfont {
  color: #36453b;
}

.subheader a:hover {
  color: #36453b;
}

#main {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  width: 95%;
  height: 100%;
  margin: 20px auto;
  position: relative;
  display: flex;
  background-color: #36453b;
}

.images {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.images ul {
  width: fit-content;
  justify-content: center;
  text-align: center;
}

.images ul,
.images li {
  display: inline;
  list-style: none;
  justify-content: center;
}

.images img {
  width: 49%;
  min-height: 100%;
  object-fit: contain;
}

.info {
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
  float: right;
  margin: 0;
  text-align: left;
}

.parrafo{
  margin-top: 15px;
}

.info form {
  margin: 50px 0;
}

#cantidad {
  margin: 10px 0 30px 0;
  font-size: 20px;
  width: 25%;
  border: 2px solid rgba(54, 69, 59, 0.5);
}

label {
  display: block;
  margin: 10px 0;
}

.button {
  width: 98%;
  margin: 50px auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button button {
  width: 100%;
  padding: 20px;
  background-color: #36453b;
  border: 2px solid #36453b;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.info button:hover {
  border: 2px solid #769380;
}

.table {
  display: block;
  height: max-content;
  width: 94.5%;
  margin: 30px auto;
}

.table table {
  width: 100%;
  height: fit-content;
  margin: 0;
  border-collapse: collapse;
}

.table table tr {
  text-align: center;
}

.titulo th {
  text-align: center;
  padding: 10px 0;
  background-color: #36453b;
  color: white;
  text-decoration: underline;
}

.columna1 {
  background-color: white;
  width: 10%;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fila1 {
  background-color: white;
}

.filaSombreadoOscuro {
  background-color: #98aea0;
}

.filaSombreadoClaro {
  background-color: #f0ecec;
}

.bold {
  font-weight: 800;
}

.small {
  font-size: 10px;
}

.med_small {
  font-size: 15px;
}

#footer {
  width: 100%;
  height: max-content;
  position: relative;
  background-color: #b5b392;
  display: flex;
  flex-direction: column;
}

.footerContent {
  width: 50%;
  height: fit-content;
  padding: 40px 0 50px 0;
  margin: 0 auto;
  justify-content: center;
}

.footerContent li {
  display: inline-block;
  margin: 10px 70px 0 0;
  text-transform: capitalize;
  vertical-align: top;
}

.footerContent li ul {
  display: block;
}

.footerContent li ul li {
  display: block;
  font-size: 13px;
}

.footerContent li a {
  color: black;
}

.footerContent li a:hover {
  text-decoration: underline;
}

.footerContent img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

@media only screen and (max-width: 770px) {
  #header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    top: 0;
  }

  #header h1 a {
    text-size-adjust: inherit;
    text-align: center;
    width: 30%;
    margin: 0 auto;
  }

  .title,
  .subheader {
    position: relative;
    z-index: 1;
  }

  .smallScreen {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    float: left;
    bottom: 25px;
    padding: 8px;
    z-index: 2;
  }

  .nav {
    position: absolute;
    height: 500px;
    width: 80%;
    margin: 0;
  }

  .nav ul li > ul .nivel1 {
    display: none;
  }

  .nav ul li:hover > ul .nivel1 {
    display: inline-flex;
    position: relative;
    bottom: 24px;
    right: 39px;
    text-align: left;
    width: 93%;
    background-color: #b5b392;
    z-index: 80;
  }

  .nav ul .nivel1 > a:hover {
    text-decoration: underline;
    background-color: #b5b392;
  }

  .nav a {
    width: 100%;
  }

  .nav ul .nivel1 > a {
    display: inline-block;
    position: relative;
  }

  .nav ul li ul .nivel1 > ul li {
    display: none;
    position: absolute;
  }

  .nav ul .nivel1 > a::after {
    content: "➞";
    justify-content: center;
    align-items: center;
    float: right;
    position: absolute;
    right: 20px;
  }

  .container {
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .images {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
  }

  .images ul {
    width: fit-content;
    justify-content: center;
    text-align: center;
  }

  .images ul,
  .images li {
    display: inline;
    list-style: none;
    justify-content: center;
  }

  .images img {
    width: 49%;
    min-height: 100%;
    object-fit: contain;
  }

  .info {
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 10px;
    color: #36453b;
  }

  .info h2 {
    margin-top: 15px;
    font-size: 20px;
  }

  .info p {
    margin-top: 5px;
    font-size: 15px;
  }

  label {
    display: inline;
  }

  .button {
    width: 80%;
  }

  .button button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 370px) {
  #header h1 {
    font-size: 25px;
  }

  .nav img {
    width: 10%;
    height: 10%;
    margin-left: -10px;
    top: -22px;
  }
}
