.container {
  width: 95%;
  height: 100%;
  margin: 20px auto;
  position: relative;
  display: flex;
  background-color: #36453b;
}

.images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.images img {
  width: 60%;
  height: 100%;
  margin: 10px auto;
  object-fit: contain;
}

.info {
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
  float: right;
  margin: 0;
  text-align: left;
}

.parrafo{
  margin-top: 15px;
}

.info form {
  margin: 50px 0;
}

.button-div {
  width: 98%;
  margin: 50px auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button-div button {
  width: 100%;
  padding: 20px;
  background-color: #36453b;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.info button:hover {
  background-color: #769380;
}

@media only screen and (max-width: 1565px) {
  .images img {
    width: 75%;
    object-fit: cover;
  }

}

@media only screen and (max-width: 1320px) {
  .images img {
    width: 85%;
  }
}

@media only screen and (max-width: 1200px) {
  .title,
  .subheader {
    position: relative;
    z-index: 1;
  }

  .container {
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .images {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
  }

  .images ul {
    width: fit-content;
    justify-content: center;
    text-align: center;
  }

  .images ul,
  .images li {
    display: inline;
    list-style: none;
    justify-content: center;
  }

  .images img {
    width: 49%;
    min-height: 100%;
    object-fit: contain;
  }

  .info {
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 10px;
    color: #36453b;
  }

  .info h2 {
    margin-top: 15px;
    font-size: 20px;
  }

  .info p {
    margin-top: 5px;
    font-size: 15px;
  }

  .button-div {
    width: 80%;
  }

  .button-div button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 370px) {
  #header h1 {
    font-size: 25px;
  }
}
