.container {
    background-color: #D6D5C2;
}

.container h1 {
    padding: 10px;
    margin-bottom: -15px;
    background-color: #36453b;
}

.profile-content {
    width: 100%;
    height: 50vh;
    display: flex;
    margin: 15px auto;
    padding: 20px 0px;
}

.profile-column {
    position: relative;
    flex-direction: column-reverse;
    width: 30%;
    padding: 10px 15px;
    margin: 0 auto;
}

.profile-table {
    position: relative;
    flex-direction: column-reverse;
    width: 70%;
    margin: 0 10px;
}

.profile-image {
    position: relative;
    flex-direction: column-reverse;
    width: 70%;
    height: 275px;
    margin: 10px auto;
    border: solid 2px;
    border-radius: 50%;
}

.profile-image img {
    width: 100%;
    height: 275px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-info {
    padding: 10px 15px;
    text-align: left;
}

.profile-button {
    margin: 0 auto;
    width: fit-content;
    z-index: 1000;
}

.table {
    margin-top: 0;
}

@media only screen and (max-width: 974px){
    .container {
        width: 90%;
    }

    .profile-table table {
        width: 50%;
    }
}

@media only screen and (max-width: 726px){
    .profile-content {
        display: inline;
    }

    .profile-column {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 80%;
        height: 40%;
    }

    .profile-image {
        width: 234px;
        height: 234px;
    }

    .profile-image img {
        width: 100%;
        height: 100%;
    }

    .profile-info {
        width: 40%;
    }

    .profile-button {
        width: 40%;
    }

    .profile-table {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .profile-table table {
        width: 85%;
        margin: 0 auto; 
    }

    .profile-table .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}