<div id="footer">
    <div class="footer-content">
        <div class="footer-column">
            <h3 class="bold">CATEGORÍAS</h3>
                <ul>
                    {% if g.genres %}
                        {% for genre in g.genres %}
                            <li><a href="{{ url_for('books_by_genre', genre_name=genre) }}">{{ genre }}</a></li>
                        {% endfor %}
                    {% else %}
                        <p>No hay categorías disponibles.</p>
                    {% endif %}
                </ul>
        </div>
        <div class="footer-column">
            <h3 class="bold">NUESTRAS REDES</h3>
            <ul>
                <li><a href="https://facebook.com" target="_blank"><img class="smallLogo"
                        src="{{ url_for('static', filename='images/logos/logo_facebook.png') }}" alt="Logo Facebook">
                    Facebook</a></li>
                <li><a href="https://instagram.com" target="_blank"><img class="smallLogo"
                        src="{{ url_for('static', filename='images/logos/logo_instagram.png') }}" alt="Logo Instagram">
                    Instagram</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="bold">CONTACTANOS</h3>
                <ul>
                    <li>Sugerencias</li>
                </ul>
        </div>
        <div class="footer-column">
            <h3 class="bold">ACERCA DE</h3>
                <ul>
                    <li>Quienes somos</li>
                    <li>Encuentra tu tienda</li>
                    <li>Seguridad</li>
                </ul>
        </div>
    </div>
</div>