<div id="header">
    <h1 class="title"><a href="{{ url_for('home') }}" class="bold">BIBLIOTECA VIRTUAL</a></h1>
    <div class="nav">
        <ul>
            <li>
                <img src="{{ url_for('static', filename='images/logos/logo_menu.png') }}" alt="" class="inverted smallScreen" />
                <ul>
                    <li class="nivel1">
                        <a href="../proyecto final/Colecciones/Mujer/ver-todo.html">Terror</a>

                    </li>
                    <li class="nivel1">
                        <a href="../proyecto final/Colecciones/Hombre/ver-todo.html">Autoayuda</a>

                    </li>
                    <li class="nivel1">
                        <a href="../proyecto final/Colecciones/Niño/ver-todo.html">Escolares</a>

                    </li>
                    <li class="nivel1">
                        <a href="../proyecto final/Colecciones/Infantiles/Infantil.html">Otros</a>
                        <ul>
                            <li><a href="../proyecto final/Colecciones/Infantiles/Infantil.html">Infantiles</a></li>
                            <li>
                                <a href="../proyecto final/Colecciones/Novela/Novelas.html">Novelas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nivel1">
                        <a href="../proyecto final/sugerencias.html">Sugerencias</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>