<div class="sidebar" id="sidebar">
    <ul>
        <li><a href="{{ url_for('home') }}">Inicio</a></li>
        <li><a href="{{ url_for('popular_books') }}">Populares</a></li>
        <li><a href="{{ url_for('all_books') }}">Todos los libros</a></li>
        <li>
            <button class="list-button" onclick="toggleListMenu()">Categorías</button>
            <div class="list-menu" id="list-menu">
                <ul>
                    {% if g.genres %}
                        {% for genre in g.genres %}
                            <li><a href="{{ url_for('books_by_genre', genre_name=genre) }}">{{ genre }}</a></li>
                        {% endfor %}
                    {% else %}
                        <p>No hay categorías disponibles.</p>
                    {% endif %}
                </ul>
            </div>
        </li>

        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('profile') }}">Perfil</a></li>
                
            {% if current_user.admin %}
                <li><a href="{{ url_for('register')}}">Registrar Usuario</a></li>
                <li><a href="{{ url_for('register_book') }}">Nuevo Libro</a></li>
                <li><a href="{{ url_for('admin_loans') }}">Gestión de Préstamos</a></li>
            {% endif %}
                
            <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
        {% endif %}
    </ul>
</div>