{% extends "layouts/base.html" %}

{% block title %}Home - Biblioteca Virtual{% endblock %}

{% block content %}
<div id="main">
    <div class="img_container">
        <h2 class="img_content">
            <a href="{{ url_for('all_books') }}" class="white-font">
                <span class="bold">Visita las categorías favoritas de los alumnos
            </a>
        </h2>
        <ul class="img_nav">
            <li class="c1"><a href="{{ url_for('books_by_genre', genre_name='terror') }}" class="button">Terror</a></li>
            <li><a href="{{ url_for('books_by_genre', genre_name='autoayuda') }}" class="button">Autoayuda</a></li>
            <li><a href="{{ url_for('books_by_genre', genre_name='escolares') }}" class="button">Escolares</a></li>
            <li class="c2"><a href="{{ url_for('all_books') }}" class="button">Todo</a></li>
        </ul>
        <img src="{{ url_for('static', filename='images/banners/banner_1.png') }}" alt="Banner 1" />
        <div class="sombra"></div>
    </div>
    <div class="img_container">
        <h2 class="img_content">
            <a href="{{ url_for('popular_books') }}" class="white-font">
                <span class="bold">Top libros más reservados</span>
            </a>
        </h2>
        <ul class="img_nav">
            <li><a href="{{ url_for('book_details', book_id=1) }}" class="button">#1 It</a></li>
            <li><a href="{{ url_for('book_details', book_id=2) }}" class="button">#2 El umbral de la noche</a></li>
        </ul>
        <img src="{{ url_for('static', filename='images/banners/banner_2.png') }}" alt="Banner 2" />
    </div>
    <div class="img_container">
        <h2 class="img_content">
            <a href="{{ url_for('books_by_genre', genre_name='infantiles') }}" class="white-font">
                <span class="bold">Descubre</span> tu próxima
                <span class="bold">nueva</span> aventura
            </a>
        </h2>
        <ul class="img_nav">
            <li><a href="{{ url_for('books_by_genre', genre_name='infantiles') }}" class="button">Ver ahora</a></li>
        </ul>
        <img src="{{ url_for('static', filename='images/banners/banner_3.png')}}" alt="Banner 3" />
        <div class="sombra"></div>
    </div>
</div>
{% endblock %}