{% extends "layouts/base.html" %}

{% block title %}Home - Biblioteca Virtual{% endblock %}

{% block content %}
<div id="main">
    <div class="img_container">
        <h2 class="img_content">
            <a href="ver-todoMujer.html">
                <span class="bold">Visita las categorías favoritas de los alumnos
            </a>
        </h2>
        <ul class="img_nav">
            <li class="c1"><a href="/proyecto final/Colecciones/Mujer/ver-todo.html" class="button">Terror</a></li>
            <li><a href="/proyecto final/Colecciones/Hombre/ver-todo.html" class="button">Autoayuda</a></li>
            <li><a href="/proyecto final/Colecciones/Niño/ver-todo.html" class="button">Escolares</a></li>
            <li class="c2"><a href="/proyecto final/Colecciones/Calzado/ver-todo.html" class="button">Todo</a></li>
        </ul>
        <img src="{{ url_for('static', filename='images/banners/banner_1.png') }}" alt="Banner 1" />
        <div class="sombra"></div>
    </div>
    <div class="img_container">
        <h2 class="img_content">
            <a href="inviernoHombre.html">
                <span class="bold">Top libros más reservados</span>
            </a>
        </h2>
        <ul class="img_nav">
            <li><a href="/proyecto final/Colecciones/Mujer/Producto/top3.html" class="button">#1 It</a></li>
            <li><a href="/proyecto final/Colecciones/Mujer/Producto/blusa3.html" class="button">#2 El umbral de la noche</a></li>
        </ul>
        <img src="{{ url_for('static', filename='images/banners/banner_2.png') }}" alt="Banner 2" />
    </div>
    <div class="img_container">
        <h2 class="img_content">
            <a href="calzado.html">
                <span class="bold">Descubre</span> tu próxima
                <span class="bold">nueva</span> aventura
            </a>
        </h2>
        <ul class="img_nav">
            <li><a href="/proyecto final/Colecciones/Calzado/ver-todo.html" class="button">Ver ahora</a></li>
        </ul>
        <img src="{{ url_for('static', filename='images/banners/banner_3.png')}}" alt="Banner 3" />
        <div class="sombra"></div>
    </div>
</div>
{% endblock %}